<% require 'geocoder' %>
<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Weather</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Samir's Cloud - Weather</h1>
		Current weather information for:
		<% query = "#{@@lat},#{@@lng}" %>
		<% result = Geocoder.search(query).first %>
		<% if (result) %>
			<%= result.address %>
		<% end %>
		<br />
		<br />
		<% forecast = ForecastIO.forecast(@@lat, @@lng)[:currently] %>
		<a href="/apparentTemperature">Apparent temperature</a><br />
		<%= forecast[:apparentTemperature] %>
		<br />
		<br />
		<a href="/precipProbability">Probability of precipitation</a><br />
		<%= forecast[:precipProbability]*100 %>
		<br />
		<br />
		<a href="/summary">Summary</a><br />
		<%= forecast[:summary] %>
		<%puts forecast %>
	</div>
</body>
</html>