<% require 'geocoder' %>
<!DOCTYPE html>
<html>
<head>
	<title>Samir's Cloud - Weather</title>
</head>
<body>
<h1>Samir's Cloud - Weather</h1>
<h3>Provides weather information for IoT projects</h3>
Current weather info for:
<% query = "#{@@lat},#{@@lng}" %>
<% result = Geocoder.search(query).first %>
<% if (result) %>
	<%= result.address %>
<% end %>
<br />
<br />
<% forecast = ForecastIO.forecast(@@lat, @@lng)[:currently] %>
<a href="/apparentTemperature.json">Apparent temperature</a><br />
<%= forecast[:apparentTemperature] %>
<br />
<br />
<a href="/precipProbability.json">Probability of precipitation</a><br />
<%= forecast[:precipProbability]*100 %>
<br />
<br />
<a href="/summary.json">Summary</a><br />
<%= forecast[:summary] %>
<%puts forecast %>

</body>
</html>